# Файл .dockerignore
venv
.git
db.sqlite3
.env

# Есть и другие файлы, которые стоит добавить в .dockerignore:
# файлы IDE: .idea, .vscode и другие;
# файлы с переменными окружения: например, .env.
# Миграции проекта должны быть включены в образ,
# не добавляйте их в .dockerignore.